@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=VT323&display=swap');
body{
    
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGl1ZzhkNHgwYjY0YXdrcWt5bWp0dGJ1eGsyZDF4czNxaXJhMWlkYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AOSwwqVjNZlDO/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}